extends ./partials/_head.pug
block content

	include ./partials/_header.pug
	include ./partials/_tweet.pug
	.bounds.app--body
		include ./partials/_columns.pug
		include ./partials/_timeline.pug
		include ./partials/_friends.pug
		include ./partials/_messages.pug
		